# More Census Demographic Data
## ACS Data

In [1]:
import pandas as pd

## A Note on Redistricting
For the sake of future use, we would prefer to use the ACS surveys conducted the year *before* each congressional election, as their data is released in the following Fall. Unfortunately, our data covers 2 elections after redistricting cycles, 2012 and 2022. The 2011 and 2021 ACS surveys *do not* take redistricting into account, so we will have to use the 2012 and 2022 surveys for the sake of accuracy.

## 2012

In [2]:
ACS2012 = pd.read_csv('C:/Users/finco/Documents/GitHub/DS496Capstone/Raw Data/Race/ACSDP1Y2012.DP05-Data.csv')
ACS2012

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0001PE,DP05_0001PM,DP05_0002E,DP05_0002M,DP05_0002PE,DP05_0002PM,...,DP05_0079PM,DP05_0080E,DP05_0080M,DP05_0080PE,DP05_0080PM,DP05_0081E,DP05_0081M,DP05_0081PE,DP05_0081PM,Unnamed: 326
0,Geography,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Margin of Error!!SEX AND AGE!!Total population,Percent!!SEX AND AGE!!Total population,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Male,Margin of Error!!SEX AND AGE!!Male,Percent!!SEX AND AGE!!Male,Percent Margin of Error!!SEX AND AGE!!Male,...,Percent Margin of Error!!HISPANIC OR LATINO AN...,Estimate!!HISPANIC OR LATINO AND RACE!!Not His...,Margin of Error!!HISPANIC OR LATINO AND RACE!!...,Percent!!HISPANIC OR LATINO AND RACE!!Not Hisp...,Percent Margin of Error!!HISPANIC OR LATINO AN...,Estimate!!Total housing units,Margin of Error!!Total housing units,Percent!!Total housing units,Percent Margin of Error!!Total housing units,NaN
1,5001300US0101,"Congressional District 1 (113th Congress), Ala...",693136,3183,693136,(X),336325,2273,48.5,0.2,...,0.1,9594,2874,1.4,0.4,326728,1601,(X),(X),NaN
2,5001300US0102,"Congressional District 2 (113th Congress), Ala...",683565,7224,683565,(X),331111,4071,48.4,0.4,...,0.1,8729,1606,1.3,0.2,307832,2581,(X),(X),NaN
3,5001300US0103,"Congressional District 3 (113th Congress), Ala...",696249,4457,696249,(X),340523,3390,48.9,0.4,...,0.1,7607,1489,1.1,0.2,319878,1877,(X),(X),NaN
4,5001300US0104,"Congressional District 4 (113th Congress), Ala...",680966,3767,680966,(X),331717,2614,48.7,0.3,...,0.1,14314,2616,2.1,0.4,309454,1534,(X),(X),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433,5001300US5506,"Congressional District 6 (113th Congress), Wis...",709482,2582,709482,(X),355486,2373,50.1,0.2,...,0.1,9806,1540,1.4,0.2,320401,1373,(X),(X),NaN
434,5001300US5507,"Congressional District 7 (113th Congress), Wis...",711054,3834,711054,(X),358240,2318,50.4,0.2,...,0.1,8904,1324,1.3,0.2,414446,1532,(X),(X),NaN
435,5001300US5508,"Congressional District 8 (113th Congress), Wis...",719292,1581,719292,(X),359506,1611,50.0,0.2,...,0.1,10380,1600,1.4,0.2,340867,934,(X),(X),NaN
436,5001300US5600,Congressional District (at Large) (113th Congr...,576412,*****,576412,(X),292736,1854,50.8,0.3,...,0.1,12733,1575,2.2,0.3,265207,118,(X),(X),NaN
437,5001300US7298,Resident Commissioner District (at Large) (113...,3667084,*****,3667084,(X),1757273,2739,47.9,0.1,...,0.1,5282,1480,0.1,0.1,1583437,6946,(X),(X),NaN

### Dropping Columns
We can borrow our functions from the education data.

In [4]:
def dropColumns12(dataframe):
    featureList = ['NAME', # CD Name
                    'DP05_0017E', # Median age
                    'DP05_0066PE', # % Hispanic or Latino
                    'DP05_0072PE', # % White, not hispanic
                    'DP05_0073PE', # % Black, not hispanic
                    'DP05_0074PE', # % Native american, not hispanic
                    'DP05_0075PE', # % Asian, not hispanic
                    ]

    featureDict = {
        'NAME': 'Congressional District',
        'DP05_0017E':'MedianAge',
        'DP05_0066PE':'Hispanic',
        'DP05_0072PE':'White',
        'DP05_0073PE':'Black',
        'DP05_0074PE':'NativeAmerican',
        'DP05_0075PE':'Asian'
    }

    dataframe = dataframe[featureList]
    dataframe = dataframe.rename(columns = featureDict)
    dataframe = dataframe.drop(index = 0)
    return dataframe

ACS2012 = dropColumns12(ACS2012)
ACS2012['year'] = 2012
ACS2012

,Congressional District,MedianAge,Hispanic,White,Black,NativeAmerican,Asian,year
1,"Congressional District 1 (113th Congress), Ala...",38.7,2.9,65.6,27.6,1.1,1.4,2012
2,"Congressional District 2 (113th Congress), Ala...",37.8,3.4,63.4,29.8,0.3,1.3,2012
3,"Congressional District 3 (113th Congress), Ala...",37.3,2.7,68.8,25.8,0.3,1.3,2012
4,"Congressional District 4 (113th Congress), Ala...",40.6,5.0,84.6,7.1,0.5,0.7,2012
5,"Congressional District 5 (113th Congress), Ala...",38.9,4.9,73.6,17.0,0.7,1.4,2012
...,...,...,...,...,...,...,...,...
433,"Congressional District 6 (113th Congress), Wis...",41.4,4.1,90.6,1.4,0.4,2.1,2012
434,"Congressional District 7 (113th Congress), Wis...",43.0,1.9,92.6,0.7,2.0,1.6,2012
435,"Congressional District 8 (113th Congress), Wis...",39.9,4.6,88.3,1.2,2.3,2.2,2012
436,Congressional District (at Large) (113th Congr...,36.9,9.4,84.6,0.9,1.8,1.0,2012
437,Resident Commissioner District (at Large) (113...,37.8,99.0,0.6,0.1,0.0,0.1,2012

### Text Modification
Again, we can borrow our other functions.

In [6]:
def textProcessing(dataframe):
    dataframe['state'] = dataframe['Congressional District'].str.extract(r',\s([A-Za-z\s]+)$')

    state_abbr = {
        'Alabama': 'AL', 'Alaska':'AK', 'Arizona':'AZ', 'Arkansas':'AR', 'California':'CA', 'Colorado':'CO', 
        'Connecticut':'CT','Delaware':'DE','Florida':'FL','Georgia':'GA', 'Hawaii':'HI','Idaho':'ID','Illinois':'IL',
        'Indiana':'IN', 'Iowa':'IA', 'Kansas':'KS', 'Kentucky':'KY', 'Louisiana':'LA', 'Maine':'ME', 'Maryland':'MD',
        'Massachusetts':'MA', 'Michigan':'MI', 'Minnesota':'MN', 'Mississippi':'MS', 'Missouri':'MO', 'Montana':'MT',
        'Nebraska':'NE', 'Nevada':'NV', 'New Hampshire':'NH', 'New Jersey':'NJ', 'New Mexico':'NM','New York':'NY', 'North Carolina':'NC',
        'North Dakota':'ND', 'Ohio':'OH', 'Oklahoma':'OK', 'Oregon':'OR', 'Pennsylvania':'PA', 'Rhode Island':'RI', 
        'South Carolina':'SC', 'South Dakota':'SD', 'Tennessee':'TN', 'Texas':'TX', 'Utah':'UT', 'Vermont':'VT',
        'Virginia':'VA', 'Washington':'WA', 'West Virginia':'WV', 'Wisconsin':'WI', 'Wyoming':'WY'
    }

    dataframe['state_po'] = dataframe['state'].map(state_abbr)
    dataframe['district'] = dataframe['Congressional District'].str.extract(r'District (\d+)')

    dataframe = dataframe.dropna(subset=['state_po'])
    dataframe['district'] = dataframe['district'].fillna(0)

    dataframe = dataframe.drop(['state', 'Congressional District'], axis = 1)

    return dataframe

ACS2012 = textProcessing(ACS2012)
ACS2012

C:\Users\finco\AppData\Local\Temp\ipykernel_20852\3920606469.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['district'] = dataframe['district'].fillna(0)

,MedianAge,Hispanic,White,Black,NativeAmerican,Asian,year,state_po,district
1,38.7,2.9,65.6,27.6,1.1,1.4,2012,AL,1
2,37.8,3.4,63.4,29.8,0.3,1.3,2012,AL,2
3,37.3,2.7,68.8,25.8,0.3,1.3,2012,AL,3
4,40.6,5.0,84.6,7.1,0.5,0.7,2012,AL,4
5,38.9,4.9,73.6,17.0,0.7,1.4,2012,AL,5
...,...,...,...,...,...,...,...,...,...
432,41.0,5.5,88.9,1.6,0.3,2.3,2012,WI,5
433,41.4,4.1,90.6,1.4,0.4,2.1,2012,WI,6
434,43.0,1.9,92.6,0.7,2.0,1.6,2012,WI,7
435,39.9,4.6,88.3,1.2,2.3,2.2,2012,WI,8
436,36.9,9.4,84.6,0.9,1.8,1.0,2012,WY,0

## 2013

In [8]:
ACS2013 = pd.read_csv('C:/Users/finco/Documents/GitHub/DS496Capstone/Raw Data/Race/ACSDP1Y2013.DP05-Data.csv')
ACS2013 = dropColumns12(ACS2013)
ACS2013['year'] = 2013
ACS2013 = textProcessing(ACS2013)
ACS2013

C:\Users\finco\AppData\Local\Temp\ipykernel_20852\3920606469.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['district'] = dataframe['district'].fillna(0)

,MedianAge,Hispanic,White,Black,NativeAmerican,Asian,year,state_po,district
1,38.5,3.0,65.4,27.9,0.7,1.4,2013,AL,1
2,37.9,3.2,62.6,31.1,0.3,1.0,2013,AL,2
3,37.4,2.7,68.3,25.5,0.2,1.5,2013,AL,3
4,40.3,6.2,83.8,7.3,0.7,0.6,2013,AL,4
5,38.7,4.9,73.4,17.2,0.6,1.7,2013,AL,5
...,...,...,...,...,...,...,...,...,...
432,40.7,5.6,88.5,1.7,0.2,2.4,2013,WI,5
433,41.7,4.3,90.3,1.3,0.4,2.3,2013,WI,6
434,43.4,2.0,92.3,0.8,2.0,1.5,2013,WI,7
435,39.8,4.7,87.9,1.2,2.4,2.2,2013,WI,8
436,36.6,8.9,84.7,1.3,2.0,0.9,2013,WY,0

## 2015

In [9]:
ACS2015 = pd.read_csv('C:/Users/finco/Documents/GitHub/DS496Capstone/Raw Data/Race/ACSDP1Y2015.DP05-Data.csv')
ACS2015 = dropColumns12(ACS2015)
ACS2015['year'] = 2015
ACS2015 = textProcessing(ACS2015)
ACS2015

C:\Users\finco\AppData\Local\Temp\ipykernel_20852\3920606469.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['district'] = dataframe['district'].fillna(0)

,MedianAge,Hispanic,White,Black,NativeAmerican,Asian,year,state_po,district
1,39.4,3.0,65.0,28.2,1.1,1.3,2015,AL,1
2,38.0,3.0,62.2,31.6,0.2,1.0,2015,AL,2
3,38.5,3.0,68.1,25.1,0.2,1.5,2015,AL,3
4,40.5,6.3,83.9,7.1,0.4,0.4,2015,AL,4
5,39.8,5.1,72.8,17.4,0.5,1.6,2015,AL,5
...,...,...,...,...,...,...,...,...,...
432,40.8,5.8,87.4,2.2,0.2,2.5,2015,WI,5
433,41.8,4.5,89.6,1.6,0.4,2.5,2015,WI,6
434,44.4,2.2,91.8,0.6,1.9,1.6,2015,WI,7
435,40.6,5.0,87.2,1.2,2.4,2.3,2015,WI,8
436,36.5,9.9,84.1,0.8,2.1,0.8,2015,WY,0

## 2017
The feature codes changed here, so we need to re-code our drop columns function.

In [10]:
def dropColumns17(dataframe):
    featureList = ['NAME', # CD Name
                    'DP05_0018E', # Median age   DIFFERENT
                    'DP05_0071PE', # % Hispanic or Latino    DIFFERENT
                    'DP05_0077PE', # % White, not hispanic    DIFFERENT
                    'DP05_0078PE', # % Black, not hispanic     DIFFERENT
                    'DP05_0079PE', # % Native american, not hispanic   DIFFERENT
                    'DP05_0080PE', # % Asian, not hispanic    DIFFERENT
                    ]

    featureDict = {
        'NAME': 'Congressional District',
        'DP05_0018E':'MedianAge',
        'DP05_0071PE':'Hispanic',
        'DP05_0077PE':'White',
        'DP05_0078PE':'Black',
        'DP05_0079PE':'NativeAmerican',
        'DP05_0080PE':'Asian'
    }

    dataframe = dataframe[featureList]
    dataframe = dataframe.rename(columns = featureDict)
    dataframe = dataframe.drop(index = 0)
    return dataframe

In [11]:
ACS2017 = pd.read_csv('C:/Users/finco/Documents/GitHub/DS496Capstone/Raw Data/Race/ACSDP1Y2017.DP05-Data.csv')
ACS2017 = dropColumns17(ACS2017)
ACS2017['year'] = 2017
ACS2017 = textProcessing(ACS2017)
ACS2017 = ACS2017.iloc[:435]
ACS2017

C:\Users\finco\AppData\Local\Temp\ipykernel_20852\3920606469.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['district'] = dataframe['district'].fillna(0)

,MedianAge,Hispanic,White,Black,NativeAmerican,Asian,year,state_po,district
1,40.0,3.1,65.0,27.8,0.9,1.5,2017,AL,1
2,38.5,3.6,62.0,30.6,0.3,1.0,2017,AL,2
3,38.1,2.9,67.2,26.3,0.2,1.6,2017,AL,3
4,40.7,6.7,83.0,7.1,0.7,0.6,2017,AL,4
5,39.5,5.2,72.2,17.8,0.7,1.8,2017,AL,5
...,...,...,...,...,...,...,...,...,...
432,41.6,5.8,86.7,2.4,0.2,3.0,2017,WI,5
433,42.1,4.6,89.1,1.7,0.3,2.5,2017,WI,6
434,44.4,2.3,91.5,0.7,1.9,1.7,2017,WI,7
435,40.5,5.4,86.7,1.5,2.2,2.3,2017,WI,8
436,37.5,10.0,84.0,0.9,2.1,0.8,2017,WY,0

## 2019

In [12]:
ACS2019 = pd.read_csv('C:/Users/finco/Documents/GitHub/DS496Capstone/Raw Data/Race/ACSDP1Y2019.DP05-Data.csv')
ACS2019 = dropColumns17(ACS2019)
ACS2019['year'] = 2019
ACS2019 = textProcessing(ACS2019)
ACS2019 = ACS2019.iloc[:435]
ACS2019

C:\Users\finco\AppData\Local\Temp\ipykernel_20852\3920606469.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['district'] = dataframe['district'].fillna(0)

,MedianAge,Hispanic,White,Black,NativeAmerican,Asian,year,state_po,district
1,40.4,3.3,65.0,27.2,0.9,1.4,2019,AL,1
2,39.0,3.9,60.4,32.1,0.2,1.3,2019,AL,2
3,38.9,2.9,67.0,26.1,0.3,1.8,2019,AL,3
4,41.1,6.9,82.9,7.4,0.4,0.5,2019,AL,4
5,39.7,5.5,71.8,18.1,0.5,1.7,2019,AL,5
...,...,...,...,...,...,...,...,...,...
432,42.5,6.5,86.0,2.3,0.2,3.0,2019,WI,5
433,42.0,4.8,88.4,1.9,0.5,2.6,2019,WI,6
434,45.0,2.6,91.2,0.7,2.0,1.6,2019,WI,7
435,40.8,5.6,86.2,1.5,2.3,2.4,2019,WI,8
436,38.1,10.1,83.7,1.1,2.1,0.8,2019,WY,0

## 2022
The feature codes changed again. Time to re-write dropColumns again.

In [13]:
def dropColumns22(dataframe):
    featureList = ['NAME', # CD Name
                    'DP05_0018E', # Median age   
                    'DP05_0076PE', # % Hispanic or Latino    DIFFERENT  AGAIN
                    'DP05_0082PE', # % White, not hispanic    DIFFERENT  AGAIN
                    'DP05_0083PE', # % Black, not hispanic     DIFFERENT  AGAIN
                    'DP05_0084PE', # % Native american, not hispanic   DIFFERENT AGAIN
                    'DP05_0085PE', # % Asian, not hispanic    DIFFERENT  AGAIN
                    ]

    featureDict = {
        'NAME': 'Congressional District',
        'DP05_0018E':'MedianAge',
        'DP05_0076PE':'Hispanic',
        'DP05_0082PE':'White',
        'DP05_0083PE':'Black',
        'DP05_0084PE':'NativeAmerican',
        'DP05_0085PE':'Asian'
    }

    dataframe = dataframe[featureList]
    dataframe = dataframe.rename(columns = featureDict)
    dataframe = dataframe.drop(index = 0)
    return dataframe

In [14]:
ACS2022 = pd.read_csv('C:/Users/finco/Documents/GitHub/DS496Capstone/Raw Data/Race/ACSDP1Y2022.DP05-Data.csv')
ACS2022 = dropColumns22(ACS2022)
ACS2022['year'] = 2022
ACS2022 = textProcessing(ACS2022)
ACS2022 = ACS2022.iloc[:435]
ACS2022

C:\Users\finco\AppData\Local\Temp\ipykernel_20852\3920606469.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['district'] = dataframe['district'].fillna(0)

,MedianAge,Hispanic,White,Black,NativeAmerican,Asian,year,state_po,district
1,40.9,0.1,1.6,0.0,0.3,3.6,2022,AL,1
2,39.1,0.1,1.6,0.0,0.2,3.6,2022,AL,2
3,39.4,0.3,1.8,0.1,0.6,3.3,2022,AL,3
4,40.8,0.1,0.8,0.1,0.6,3.9,2022,AL,4
5,40.2,0.2,1.7,0.0,0.3,4.3,2022,AL,5
...,...,...,...,...,...,...,...,...,...
432,42.9,0.1,3.0,0.0,0.4,3.1,2022,WI,5
433,42.7,0.1,2.5,0.0,0.3,3.0,2022,WI,6
434,45.4,0.1,1.6,0.0,0.4,3.6,2022,WI,7
435,41.3,0.1,2.4,0.0,0.2,3.6,2022,WI,8
436,39.1,0.1,0.6,0.1,0.9,3.9,2022,WY,0

## 2023

In [15]:
ACS2023 = pd.read_csv('C:/Users/finco/Documents/GitHub/DS496Capstone/Raw Data/Race/ACSDP1Y2023.DP05-Data.csv')
ACS2023 = dropColumns22(ACS2023)
ACS2023['year'] = 2023
ACS2023 = textProcessing(ACS2023)
ACS2023 = ACS2023.iloc[:435]
ACS2023

C:\Users\finco\AppData\Local\Temp\ipykernel_20852\3920606469.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['district'] = dataframe['district'].fillna(0)

,MedianAge,Hispanic,White,Black,NativeAmerican,Asian,year,state_po,district
1,41.1,4.0,63.8,26.1,0.5,1.6,2023,AL,1
2,39.0,5.2,58.8,30.3,0.2,1.4,2023,AL,2
3,40.1,4.2,67.0,23.2,0.2,1.6,2023,AL,3
4,40.8,8.1,80.6,6.3,0.3,0.8,2023,AL,4
5,39.4,7.0,68.6,17.4,0.3,2.0,2023,AL,5
...,...,...,...,...,...,...,...,...,...
432,43.0,6.0,85.9,1.8,0.1,3.0,2023,WI,5
433,42.7,6.0,86.0,2.0,0.3,2.6,2023,WI,6
434,45.3,3.0,89.4,0.4,1.6,1.5,2023,WI,7
435,41.5,6.7,83.7,1.5,1.8,2.5,2023,WI,8
436,39.3,10.8,81.3,0.7,1.6,0.8,2023,WY,0

## Tying it all together

In [16]:
raceData = pd.concat([ACS2012, ACS2013, ACS2015, ACS2017, ACS2019, ACS2022, ACS2023], axis = 0, ignore_index = True)
raceData['year'] = raceData['year'].apply(lambda x: x + 1 if x not in [2012, 2022] else x)
raceData

,MedianAge,Hispanic,White,Black,NativeAmerican,Asian,year,state_po,district
0,38.7,2.9,65.6,27.6,1.1,1.4,2012,AL,1
1,37.8,3.4,63.4,29.8,0.3,1.3,2012,AL,2
2,37.3,2.7,68.8,25.8,0.3,1.3,2012,AL,3
3,40.6,5.0,84.6,7.1,0.5,0.7,2012,AL,4
4,38.9,4.9,73.6,17.0,0.7,1.4,2012,AL,5
...,...,...,...,...,...,...,...,...,...
3040,43.0,6.0,85.9,1.8,0.1,3.0,2024,WI,5
3041,42.7,6.0,86.0,2.0,0.3,2.6,2024,WI,6
3042,45.3,3.0,89.4,0.4,1.6,1.5,2024,WI,7
3043,41.5,6.7,83.7,1.5,1.8,2.5,2024,WI,8
3044,39.3,10.8,81.3,0.7,1.6,0.8,2024,WY,0

In [17]:
raceData.to_csv('raceData.csv', index=False)