# House Election Data
## MIT Election Lab

This dataset contains election results from house races from 1976 to 2022. We will only need data from 2012
 onwards.

In [42]:
import pandas as pd

In [ ]:
rawData = pd.read_csv("C:/Users/finco/Documents/GitHub/DS496Capstone/Raw Data/Political/1976-2022-house.csv")
rawData

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,runoff,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version,fusion_ticket
0,1976,ALABAMA,AL,1,63,41,US HOUSE,1,GEN,False,False,BILL DAVENPORT,DEMOCRAT,False,TOTAL,58906,157170,False,20230706,False
1,1976,ALABAMA,AL,1,63,41,US HOUSE,1,GEN,False,False,JACK EDWARDS,REPUBLICAN,False,TOTAL,98257,157170,False,20230706,False
2,1976,ALABAMA,AL,1,63,41,US HOUSE,1,GEN,False,False,WRITEIN,NaN,True,TOTAL,7,157170,False,20230706,False
3,1976,ALABAMA,AL,1,63,41,US HOUSE,2,GEN,False,False,J CAROLE KEAHEY,DEMOCRAT,False,TOTAL,66288,156362,False,20230706,False
4,1976,ALABAMA,AL,1,63,41,US HOUSE,2,GEN,False,False,"WILLIAM L ""BILL"" DICKINSON",REPUBLICAN,False,TOTAL,90069,156362,False,20230706,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32447,2022,WYOMING,WY,56,83,68,US HOUSE,0,GEN,False,False,RICHARD BRUBAKER,LIBERTARIAN,False,TOTAL,5420,198198,False,20230706,False
32448,2022,WYOMING,WY,56,83,68,US HOUSE,0,GEN,False,False,MARISSA JOY SELVIG,CONSTITUTION,False,TOTAL,4505,198198,False,20230706,False
32449,2022,WYOMING,WY,56,83,68,US HOUSE,0,GEN,False,False,WRITEIN,NaN,True,TOTAL,4521,198198,False,20230706,False
32450,2022,WYOMING,WY,56,83,68,US HOUSE,0,GEN,False,False,UNDERVOTES,NaN,False,TOTAL,3660,198198,False,20230706,False
32451,2022,WYOMING,WY,56,83,68,US HOUSE,0,GEN,False,False,OVERVOTES,NaN,False,TOTAL,636,198198,False,20230706,False

In [44]:
rawData = rawData[rawData['year'] >= 2012]
rawData

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,runoff,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version,fusion_ticket
24053,2012,ALABAMA,AL,1,63,41,US HOUSE,1,GEN,NaN,False,JO BONNER,REPUBLICAN,False,TOTAL,196374,200676,False,20230706,False
24054,2012,ALABAMA,AL,1,63,41,US HOUSE,1,GEN,NaN,False,WRITEIN,NaN,True,TOTAL,4302,200676,False,20230706,False
24055,2012,ALABAMA,AL,1,63,41,US HOUSE,2,GEN,NaN,False,MARTHA ROBY,REPUBLICAN,False,TOTAL,180591,283953,False,20230706,False
24056,2012,ALABAMA,AL,1,63,41,US HOUSE,2,GEN,NaN,False,THERESE FORD,DEMOCRAT,False,TOTAL,103092,283953,False,20230706,False
24057,2012,ALABAMA,AL,1,63,41,US HOUSE,2,GEN,NaN,False,WRITEIN,NaN,True,TOTAL,270,283953,False,20230706,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32447,2022,WYOMING,WY,56,83,68,US HOUSE,0,GEN,False,False,RICHARD BRUBAKER,LIBERTARIAN,False,TOTAL,5420,198198,False,20230706,False
32448,2022,WYOMING,WY,56,83,68,US HOUSE,0,GEN,False,False,MARISSA JOY SELVIG,CONSTITUTION,False,TOTAL,4505,198198,False,20230706,False
32449,2022,WYOMING,WY,56,83,68,US HOUSE,0,GEN,False,False,WRITEIN,NaN,True,TOTAL,4521,198198,False,20230706,False
32450,2022,WYOMING,WY,56,83,68,US HOUSE,0,GEN,False,False,UNDERVOTES,NaN,False,TOTAL,3660,198198,False,20230706,False
32451,2022,WYOMING,WY,56,83,68,US HOUSE,0,GEN,False,False,OVERVOTES,NaN,False,TOTAL,636,198198,False,20230706,False

In [45]:
rawData[['stage', 'runoff', 'special']].value_counts() # Checking to see if there's a significant amount of runoff or special elections in dataset

stage  runoff  special
GEN    False   False      2816
Name: count, dtype: int64

### Column Dropping
We can drop many of these columns, as we only need to know if a Republican won their election or not. The fusion_ticket column deserves further investigation though.

In [46]:
rawData = rawData.drop(['state', 'state_fips', 'state_cen', 'state_ic', 'office', 'stage', 'runoff', 'special', 'candidate', 'mode', 'unofficial', 'version', 'writein', 'fusion_ticket', 'totalvotes'], axis=1)
rawData

       year state_po  district         party  candidatevotes
24053  2012       AL         1    REPUBLICAN          196374
24054  2012       AL         1           NaN            4302
24055  2012       AL         2    REPUBLICAN          180591
24056  2012       AL         2      DEMOCRAT          103092
24057  2012       AL         2           NaN             270
...     ...      ...       ...           ...             ...
32447  2022       WY         0   LIBERTARIAN            5420
32448  2022       WY         0  CONSTITUTION            4505
32449  2022       WY         0           NaN            4521
32450  2022       WY         0           NaN            3660
32451  2022       WY         0           NaN             636

[8399 rows x 5 columns]

### "Winner" Label
We need to label the winners of each respective election.

In [48]:
rawData['max_votes'] = rawData.groupby(['year', 'state_po', 'district'])['candidatevotes'].transform('max')
rawData = rawData[rawData['candidatevotes'] == rawData['max_votes']]

rawData['republican_victory'] = (rawData['party'] == 'REPUBLICAN')
rawData = rawData.drop(['party', 'candidatevotes', 'max_votes'], axis = 1)

rawData

C:\Users\finco\AppData\Local\Temp\ipykernel_9780\486594058.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rawData['max_votes'] = rawData.groupby(['year', 'state_po', 'district'])['candidatevotes'].transform('max')

       year state_po  district  republican_victory
24053  2012       AL         1                True
24055  2012       AL         2                True
24059  2012       AL         3                True
24062  2012       AL         4                True
24065  2012       AL         5                True
...     ...      ...       ...                 ...
32428  2022       DE         0               False
32431  2022       ND         0                True
32434  2022       SD         0                True
32437  2022       VT         0               False
32445  2022       WY         0                True

[2611 rows x 4 columns]

### Merging with 2024 Data
Combining with the data that I put together myself.

In [ ]:
data2024 = pd.read_csv("C:/Users/finco/Documents/GitHub/DS496Capstone/Raw Data/Political/2024manualresults.csv")
data2024

     year state_po  district  republican_victory
0    2024       AL         1                True
1    2024       AL         2               False
2    2024       AL         3                True
3    2024       AL         4                True
4    2024       AL         5                True
..    ...      ...       ...                 ...
430  2024       WI         5                True
431  2024       WI         6                True
432  2024       WI         7                True
433  2024       WI         8                True
434  2024       WY         0                True

[435 rows x 4 columns]

In [50]:
electionData = pd.concat([rawData, data2024])
electionData

       year state_po  district  republican_victory
24053  2012       AL         1                True
24055  2012       AL         2                True
24059  2012       AL         3                True
24062  2012       AL         4                True
24065  2012       AL         5                True
...     ...      ...       ...                 ...
430    2024       WI         5                True
431    2024       WI         6                True
432    2024       WI         7                True
433    2024       WI         8                True
434    2024       WY         0                True

[3046 rows x 4 columns]

### Adding Political Context Features

In [52]:
electionData['republican_president'] = (electionData['year'] > 2017) & (electionData['year'] < 2021)
electionData['midterm'] = (electionData['year'] == 2014) | (electionData['year'] == 2018) | (electionData['year'] == 2022)
electionData

,year,state_po,district,republican_victory,republican_president,midterm
24053,2012,AL,1,True,False,False
24055,2012,AL,2,True,False,False
24059,2012,AL,3,True,False,False
24062,2012,AL,4,True,False,False
24065,2012,AL,5,True,False,False
...,...,...,...,...,...,...
430,2024,WI,5,True,False,False
431,2024,WI,6,True,False,False
432,2024,WI,7,True,False,False
433,2024,WI,8,True,False,False
434,2024,WY,0,True,False,False

In [54]:
electionData.to_csv('electionLabels.csv', index=False)